<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<table cellpadding="10px">
        <style>
            body{
               background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsakMhWkXOmu31vZL1qDtyzJXco2fZlsHTwQ&usqp=CAU');
                background-size: cover;
                
            }
            .color{
                background-color: white;
                margin-left: 95%;
            }
        </style>
        </head>
        <body>
            <div class="color">
                <a href="{{url_for('admindashboard')}}">Back</a>
                </div>
                <table border="1px" style="width: 97%; text-align: center; font-size: 20px; background-color: white; " >
                   
        {% for i in details %}
        <tr>
            <td><a href="{{url_for('view',id1=i[0])}}">view</a></td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td><a href="{{url_for('update',id1=i[0])}}">update</a></td>
        </tr>
        {% endfor %}
</table>
   
</body>
</html>